*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #F0F0F0;
  font-size: 20px;
  opacity: 80%;
}

.nav {
  font-size: 15px;
  display: end;
  justify-content: flex-start;
  flex-wrap: wrap;               
  width: 100%;
  color: black;
  margin-top: 50px;
}

.lists {
  display: flex;
  list-style: none;
  align-items: flex-start;
}


.list {
  text-decoration: none;
  margin: 2vw;
  font-weight: bold;
  color: black;
}