<%= render partial: "shared/header" %>

<body>
  <div class="index-main">
    <div class="hero">
    <%# <%= image_tag "wallpaper.png", class: "hero-image" %>
      <div class="hero-items">
        <div class="hero-text">
          <div class="hero-text__main">アカペラで繋がるワクワクを</div>
          <div class="hero-text__sub">アカペラ交流アプリ　〜swap-song〜</div>
        </div>
        <div class="hero-btn">
          <%= link_to '活動記録TLへ', "#", method: :get, class: "hero-btn__sub" %>
          <%= link_to 'グループ一覧へ', "#", class: "hero-btn__sub" %>
      </div>
    </div>
  </div>
</body>